---
layout: default
---

<div class="home">

<!--   <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
</div>
<counterpoint first-note='D4' mode="minor" max-length='13' notes='D4 E4 F4 C4 D4 F4 E4 G4 Bb3 C4 F4 E4 D4'></counterpoint>
<script type="text/javascript">
  {% include music-machine.js %}
</script>

