.wrapping-collection {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-bottom: 7rem;

     .library-item {
        padding: 1rem;
        width:  250px;

        img.cover-art {
          height: auto;
        }



        .album-info {
            text-align: center;
            .artist {
                color: #bbb;
            }
        }
     }

     @include media-query($on-palm) {
         .library-item {
           width:  150px;
           .album-info {
            font-size: 0.7rem;
           }
         }
     }
}


