.wrapping-collection {
     display: flex;
     flex-wrap: wrap;

     .music-album {
        padding: 1rem;

        img.cover-art {
          width:  350px;
          height: auto;
        }

        .album-info {
            text-align: center;
            .artist {
                color: #bbb;
            }
        }
     }
}

