/* Writing Page content */

a.post-link-row {
    color: $text-color;
    &:hover {
    color: lighten($brand-color, 15%);
    text-decoration: none
    }    
}

.post-grid-row-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px
}
