---
layout: default
---
<div class="wrapper narrow">
    <div class="fleuron">❧</div>
    <div class="composition-title">
        <h1>{{ page.title }}</h1>
        <p>for {{  page.ensemble }}</p>
    </div>
    <div class="program-note">
        <p>
            {{ content }}<span class="end-mark">◼</span>
        </p>

        <a href="{{ page.purchaseLink}}" class="button">Purchase</a>

    </div>

    <div class="score">
        <h1 class="music-header">Score</h1>
        <p>
            <a href="{{ page.score}}" target="_blank">{{ page.title}} sample score (PDF) </a>
        </p>
    </div>
    <div class="recording">
        <h1 class="music-header">Recording</h1>
        {% if page.recording %}
        <audio src=" {{ page.recording}}" controls></audio>
        {% endif %}
        {% if page.video %}
        <iframe width="560" height="315" src="{{ page.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}

        <ul>
            <li>
                {{ page.recordingArtist}}
                {% if page.recordingAlbumYear %}, 
                <a href="{{ page.recordingAlbumLink}}" target="_blank">
                    {{ page.recordingAlbumName}}</a> ({{ page.recordingAlbumYear}}) 
                {% endif %}
            </li>
        </ul>
    </div>
</div>
