---
layout: default
---
<div class="wrapper narrow">
    <div class="fleuron">❧</div>
    <div class="composition-title">
        <h1>{{ page.title }}</h1>
        <p>for {{  page.ensemble }}</p>
    </div>
    <div class="program-note">
        <p>
            {{ page.content }}<span class="end-mark">◼</span>
        </p>

        <a href="{{ page.purchaseLink}}" class="button">Purchase</a>

    </div>

    <div class="score">
        <h1 class="music-header">Score</h1>
        <p>
            <a href="../sample-scores/scherzo-a-la-britten.pdf" target="_blank">Scherzo &agrave la Britten sample score (PDF) </a>
        </p>
    </div>
    <div class="recording">
        <h1 class="music-header">Recording</h1>
        <audio src="../audio/scherzo-a-la-britten.mp3" controls></audio>
        <ul>
            <li>US Navy Band, <a href="http://amzn.to/11bz6XA" target="_blank">Derivations</a> (2012) </li>
            <li>Captain Brian Walden, <i>Conductor</i></li>
        </ul>
    </div>
    <div class="instrumentation">
        <h1 class="music-header">Instrumentation</h1>
        <ul>
            <li>Piccolo</li>
            <li>2 Flutes</li>
            <li>2 Oboes</li>
            <li>English Horn</li>
            <li>2 Bassoons</li>
            <li>Contrabassoon</li>
        </ul>
        <ul>
            <li>Clarinet in E&#9837<!-- E♭ --></li>
            <li>4 Clarinets in B&#9837<!-- B♭ --></li>
            <li>Bass Clarinet in B&#9837<!-- B♭ --></li>
            <li>Contrabass Clarinet in B&#9837<!-- B♭ --></li>
        </ul>
        <ul>
            <li>2 Alto Saxophones</li>
            <li>Tenor Saxophone</li>
            <li>Baritone Saxophone</li>
        </ul>
        <ul>
            <li>3 Trumpets in C (B&#9837 Trumpet parts available upon request)<!-- B♭ --></li>
            <li>4 Horns</li>
            <li>2 Trombones</li>
            <li>Bass Trombone</li>
            <li>Euphonium</li>
            <li>Tuba</li>
        </ul>
        <ul>
            <li>Double Bass</li>
            <li>Harp</li>
            <li>Piano</li>
            <li>Timpani</li>
            <li>3 Percussionists
                <ol>
                    <li>Suspended Cymbal (shared), Bass Drum</li>
                    <li>Wind Chimes, Triangle, Tamtam</li>
                    <li>Glockenspiel, Suspended Cymbal (shared)</li>
                </ol>
            </li>
        </ul>
    </div>

</div>
