---
layout: default
---
<div class="wrapper narrow">
    <div class="fleuron">❧</div>
    <div class="composition-title">
        <h1>{{ page.title }}</h1>
        <p>for {{  page.ensemble }}</p>
    </div>
    <div class="program-note">
        <p>
            {{ page.content }}<span class="end-mark">◼</span>
        </p>

        <a href="{{ page.purchaseLink}}" class="button">Purchase</a>

    </div>

    <div class="score">
        <h1 class="music-header">Score</h1>
        <p>
            <a href="{{ page.score}}" target="_blank">{{ page.title}} sample score (PDF) </a>
        </p>
    </div>
    <div class="recording">
        <h1 class="music-header">Recording</h1>
        <audio src=" {{ page.recording}}" controls></audio>
        <ul>
            <li>
                {{ page.recordingArtist}}, 
                <a href="{{ page.recordingAlbumLink}}" target="_blank">
                    {{ page.recordingAlbumName}}</a> ({{ page.recordingAlbumYear}}) 
            </li>
        </ul>
    </div>
</div>
